astroid==2.4.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.3
idna==3.6
isort==5.5.1
Jinja2==3.1.3
lazy-object-proxy==1.4.3
MarkupSafe==2.1.5
mccabe==0.6.1
psutil==5.9.8
pylint==2.6.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pytz==2024.1
qt-material==2.14
requests==2.31.0
six==1.15.0
toml==0.10.1
urllib3==2.2.1
wrapt==1.12.1
pygetwindow
winreg
Pillow